.alert-success {
  width: 300px;
  height: 100px;
  background-color: #daffe9;
  color: #009e2a;
  font-family: Arial, sans-serif;
  font-size: 16px;
  padding: 10px;
  border: 2px solid #005112;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  }

  .alert-success-img {
    width:50px;
    height:50px;
    align-self: center;
  }

  .alert-danger {
    width: 300px;
    height: 100px;
    background-color: #ffcccc;
    color: #990000;
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 10px;
    border: 2px solid #990000;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
  }

  .alert-danger-img {
    width:50px;
    height:50px;
    align-self: center;
  }