.alert-success {
  width: 300px;
  height: 150px;
  background-color: #d1f7e0; /* Hellgrün */
  font-family: Arial, sans-serif;
  font-size: 16px;
  padding: 10px;
  border: 2px solid #5cb85c; /* Mitteldunkelgrün */
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}

.alert-success span {
  font-size: 1.25em;
  color: #2e8b57; /* Dunkelgrün */
}

.alert-success p {
  font-size: 0.75em;
  color: #54a25a;
}

.alert-success img {
  width: 50px;
  height: 50px;
  align-self: center;
}
.alert-warning {
  width: 300px;
  height: 150px;
  background-color: #fff3cd; /* Hellgelb */
  font-family: Arial, sans-serif;
  font-size: 16px;
  padding: 10px;
  border: 2px solid #f0ad4e; /* Mitteldunkelgelb */
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}

.alert-warning span {
  font-size: 1.25em;
  color: #856404; /* Dunkelgelb */
}

.alert-warning p {
  font-size: 0.75em;
  color: #856404; /* Dunkelgelb */
}

.alert-warning img {
  width: 50px;
  height: 50px;
  align-self: center;
}

.alert-danger {
  width: 300px;
  height: 150px;
  background-color: #f8d7da; /* Hellrot */
  font-family: Arial, sans-serif;
  font-size: 16px;
  padding: 10px;
  border: 2px solid #d9534f; /* Mitteldunkelrot */
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}

.alert-danger span {
  font-size: 1.25em;
  color: #721c24; /* Dunkelrot */
}

.alert-danger p {
  font-size: 0.75em;
  color: #721c24; /* Dunkelrot */
}

.alert-danger img {
  width: 50px;
  height: 50px;
  align-self: center;
}
