.language-switcher {
    width: 300px;
    height: 40px;
    background-color: #f5f5f5; /* Hellgrau */
    color: #333; /* Dunkelgrau */
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 10px;
    border: 2px solid #ccc; /* Hellgrau */
    border-radius: 5px;
    display: flex; /* Flexbox */
    justify-content: center; /* Platzierung der Elemente entlang der Hauptachse */
    align-items: center; /* Zentrieren der Elemente entlang der Querachse */
    margin: 5px;
}

#language-select {
    width: 100px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc; /* Hellgrau */
    background-color: white;
    cursor: pointer;
}

#language-select:focus {
    outline: none;
    border-color: dodgerblue; /* Blau */
}

.language-label {
    margin-right: 10px;
}
